*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height:100%;
    width:100%;
    background-color:black;
}
:root{
    --x:400px;
    --y:400px;
}
body{
    background-image: url("https://mymodernmet.com/wp/wp-content/uploads/2019/05/xavier-portela-hong-kong-glow-11.jpg");
    background-size: cover;
}
.box{
    height:100%;
    width:100%;
    border: 1px solid white;
    background: radial-gradient(
        150px at var(--x) var(--y),
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0.3) 40%,
        rgba(0,0,0,0.9) 75%
    )
};