* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: clamp(14px, 1.5vw, 18px);
}

body {
  background-color: black;
}

@mixin flex-center($gap: 0) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

section {
  max-width: 1600px;
}

main {
  height: 100%;
  @include flex-center(0rem);
  align-items: center;

  section{
    width: 100%;
    @include flex-center(1rem);
    padding: 1rem;

    .top {
      width: 100%;

      img {
        width: 100%;
        border-radius: 10px;
      }
    }

    .bottom {
      background-color: rgb(27, 27, 27);
      border-radius: 10px;
      padding: 1.5rem;
      @include flex-center(2.5rem);

      .text {
        @include flex-center(0.7rem);

        h1 {
          font-weight: 200;
          font-size: 3rem;
          text-transform: uppercase;
        }

        p {
          font-weight: 100;
          font-size: 1.5rem;
          opacity: 0.6;
          line-height: 3rem;
        }

        h4 {
          width: fit-content;
          border-radius: 0.7rem;
          background-color: transparent;
          color: white;
          font-size: 1rem;
          text-transform: uppercase;
          font-weight: 700;
          cursor: pointer;
        }
      }
    }
  }
}

@media (min-width: 900px) {
  main {
    section{
      flex-direction: row;
      padding: 1rem 3rem;

      .top,
      .bottom {
        width: 60%;
      }

      .bottom {
        justify-content: space-between;
        padding: auto;

        .text {
          gap: 1rem;

          h1 {
            font-size: 3rem;
          }

          p {
            width: 100%;
            font-size: 1rem;
          }
        }
      }
    }
  }
}