@font-face{
    font-family: f1;
    src: url(./melted_monster/Melted\ Monster.ttf);
}
@font-face{
    font-family: f2;
    src: url(./docktrin/docktrin.ttf);
}
@font-face{
    font-family: f3;
    src: url(./moonhouse/Moonhouse.ttf);
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,body{
    height:100%;
    width:100%;
    background-color:rgb(91, 237, 237);
    
}

#top {
  width: 100%;
  padding: 10px 20px;
}

nav {
  display:flex;
  justify-content: space-between;  
    align-items: center;
}

.nav-left a,
.nav-right a,
.nav-center a {
  color: black;
  text-decoration: none;
  margin: 0 20px;
  font-weight: 600;
}

.nav-center .logo {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}


.hero h1{
    font-size:1000%;
    font-weight:500;
    padding-top:5%;
    text-align:center;
    color:black;
    margin:0 20px 0px 20px;
    text-shadow:4px 4px 4px rgba(0, 0, 0, 0.1);
    font-family:f1;
    letter-spacing:15px;
    line-height:0.8;
}

.hero p{
    font-size:150%;
    font-weight:400;
    text-align:center;
    padding-top:1%;
    color:black;
    margin:10px 20px 0px 20px;
    text-shadow:2px 2px 2px rgba(0, 0, 0, 0.1);
    font-family:f2;
    letter-spacing:3px;
}
.side1{
    height:100px;
    width:300px;
    color: black;
    padding-left:5px;
    margin-top:6%;
    margin-left:2%;
    margin-bottom:3%;
}
.side1 h3{
    padding-bottom:10px;
    font-size:20px;
    text-shadow:2px 2px 2px rgba(0, 0, 0, 0.1);
    font-family:f3;
    font-size:25px;
}
.side1 p{
    font-size:15px;
    text-shadow:2px 2px 2px rgba(0, 0, 0, 0.1);
    font-family:'Times New Roman', Times, serif;
    font-weight:400;
}
.side2{
    color:black;
    margin-left:2%;
    margin-top:2%;
}
.side2 h4{
    margin-bottom:1%;
    font-size:20px;
    text-shadow:2px 2px 2px rgba(0, 0, 0, 0.1);
}
.side2 li{
    margin-left:1%;
    text-shadow:2px 2px 2px rgba(0, 0, 0, 0.1);
    font-weight:400;
    font-size:15px;
}
ul {
  list-style: none;
  padding: 0;
  text-decoration: black underline;
}
div .img1{
    position: absolute;
    left:68%;
    top:28%;
    height:300px;
    width:200px;
    border: 5px solid black;
    border-radius: 15px;
    width: 200px; 
    transform: rotate(10deg);
}
div .img2{
    position: absolute;
    left:48%;
    top:50%;
    height:250px;
    width:200px;
    border: 5px solid black;
    border-radius: 15px;
    width: 200px; 
    transform: rotate(-20deg);
}
div .img3{
    position: absolute;
    left:58%;
    top:40%;
    height:250px;
    width:200px;
    border: 5px solid black;
    border-radius: 15px;  
}
.footer{
    color: black;
  text-decoration: none;
  margin: 0 20px;
  font-weight: 600;
  display: flex;
}
.footer a {
  color: black;
  text-decoration: none;
  margin-left:85%;
    margin-top:6%;
  font-weight: 600;
  font-size: 20px;
  width:250px;
}
.footer h4{
    margin-top:6%;
    font-weight: 600;
    font-size:20px;
    width:300px;
}

.footer h4:hover{
    color: orangered;
}
.footer a:hover{
    color: orangered;
}