*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
  height:100%;
  width:100%;
}
body{
    background-color: black;
}
    
main{
    height:100%;
    width:100%;
    background: linear-gradient(to right bottom, rgb(26, 26, 26),rgb(30,30,30),black);
    padding:20px;
} 
section{
    height: 100%;
    width: 350px;
    background-color: black;
    border-radius:10px;
    margin: auto;
    /* overflow: hidden; */
}
.all-reels{
    width:100%;
    height:100%;
}
.reel{
    height:100%;
    width:100%;
    position: relative;
    background-color: lightseagreen;
    overflow: hidden;
    border-radius: 10px;
    color:white;
}
.main-img{
    height:100%;
    width:100%;
    object-fit: cover;
}
.reel .bottom{
    padding: 30px 20px;
     background: linear-gradient(
        to top,
        rgba(0,0,0,0.95),
        rgba(0,0,0,0.3),
        rgba(0,0,0,0)
    );
    position:absolute;
    bottom:0;
}

.bottom .user{
    display: flex;
    align-items: center;
    gap:10px;
    margin-bottom:20px;
}
.bottom .user img{
    height: 25px;
    width:25px;
    border-radius: 50%;
    object-fit: cover;
}
.bottom .user h4{
    font-size:18px;
    font-weight: 600;
}
.bottom .user button{
    background-color: transparent;
    padding: 2px 4px;
    font-size: 12px;
    font-weight:550;
    border-radius:2px;
    border: 1px solid white;
    color: white;
}
.bottom>h3{
    font-weight:600;
    font-size: 18px;
}

.right{
    padding:30px;
    display: flex;
    flex-direction: column;
    gap:15px;
    align-items: center;
    width: 40px;
    position: absolute;
    right:0;
    text-align: center;
    transform:translateX(5%);
    bottom:10%;
    color: white;
}
.right i{
    font-size:20px;
    font-weight:400;
}
.right h6{
    font-size:18px;
    font-weight:300;
}
.right>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}