*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    height:100%;
    width:100%;
    display:flex;
    gap:10px;

    section{
        height:100%;
        flex-grow:1;
        background-size: cover;
        background-position: center;
    }
    section:hover{
        flex-grow:2;
        transition: all 0.5s linear;
        cursor: pointer;
    }
    section:nth-child(1){
        background-image:url(./rkimg2.jpg);
    }
    section:nth-child(2){
        background-image:url(./rkimg3.jpg);
    }
    section:nth-child(3){
        background-image:url(./rkimg4.jpg);
    }
    section:nth-child(4){
        background-image:url(./rkimg5.jpg);
    }
    section:nth-child(5){
        background-image:url(./rkimg1.jpg);
    }
    
}
