body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    color : white;
    font-family: 'Brush Script MT', cursive;
    letter-spacing: 5px;
    background-color: black;
    width: 100%;
    height: 180px;
    text-align: center;
    padding: 20px;
    
}
.header h2{
       font-size: 40px;
}

.header h6{
      font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  word-spacing: 2px;   
  letter-spacing: 0.5px; 
  margin: 0;  
}

.about{
    color: black;
    background-color: whitesmoke;
    text-align: center;   
    padding: 20px;
    margin: 15px 150px;
    padding :20px 10px;

}
.about h3{
    font-family: Lucida Bright, Georgia, serif;
    font-size: 28px;
  font-weight: 600;
}
.about p{
    font-size: 16px;
    font-weight:normal;
    font-family:sans-serif;
}
.education{
    background-color: pink;
    margin: 10px 150px;
    padding :20px;
    text-align: center;
    height: 180px;
}
div h5{
    background-color: white;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    margin: 5px 200px 10px 200px;
    padding: 5px 5px;
    line-height: 25px;
    

}
.education h3{
    font-weight: 700;
    font-size: 28px;
    margin: 1px 0px 0.5px 0px;
    padding: 20px 0px 0.5px 0px;
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}
.skills{
    background-color: rgb(131, 224, 131);
    margin: 10px 150px;
    padding :20px;
    text-align: center;
    height: 300px;
}
.skills h3{
    font-weight: 700;
    font-size: 28px;
    margin: 1px 0px 0.5px 0px;
    padding: 20px 0px 0.5px 0px;
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}
.skills h5{
    background-color: white;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    margin: 5px 200px 10px 200px;
    padding: 5px 5px;
    line-height: 25px;
}
.projects{
    background-color: rgb(235, 184, 112);
    margin: 10px 150px;
    padding :20px;
    text-align: center;
    height: 220px;
}
.projects h3{
    font-weight: 700;
    font-size: 28px;
    margin: 1px 0px 0.5px 0px;
    padding: 20px 0px 0.5px 0px;
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}
.projects h5{
    background-color: white;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    margin: 5px 200px 10px 200px;
    padding: 5px 5px;
    line-height: 25px;
}
.contact{
    background-color: rgb(112, 184, 235);
    margin: 10px 150px;
    padding :20px;
    text-align: center;
    height: 200px;
}
.contact h3{
    font-weight: 700;
    font-size: 28px;
    margin: 1px 0px 0.5px 0px;
    padding: 20px 0px 0.5px 0px;
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}
.contact h5 a {
    background-color: white;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    margin: 5px 200px 10px 200px;
    padding: 5px 5px;
    line-height: 25px;
    color:black;
    text-decoration: none;

}
.end{
    text-align:center;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0;
    padding:1px 0px 1px 0px;
    box-sizing: border-box;
    background-color: rgb(4, 4, 88);
    color: white;
    height: 50px;
}